<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro" name="robot">
    <xacro:include filename="$(find inverted_pendulum)/urdf/inverted_pendulum.urdf"/>

    <!-- Gazebo Cosim -->
    <gazebo>
        <plugin name="GazeboPlugin" filename="lib/libGazeboCoSimPlugin.so"><portNumber>14581</portNumber></plugin>
    </gazebo>

    <!-- Wheel Stuff -->
    <transmission name="trans_left_wheel">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="left_wheel_joint">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor_left_wheel">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="trans_right_wheel">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="right_wheel_joint">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor_right_wheel">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
    </gazebo>

    <!-- IMU Sensor -->
    <!-- <gazebo>
    <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>imu_link</bodyName>
      <topicName>imu</topicName>
      <serviceName>imu_service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>20.0</updateRate>
    </plugin>
  </gazebo> -->

    <sensor name="imu_sensor" type="imu">
        <update_rate>50</update_rate>
        <topic>/imu/data</topic>
        <imu>
            <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.001</stddev>
            </noise>
        </imu>
    </sensor>
    <gazebo>
        <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
            <update_rate>50</update_rate>
            <topicName>/imu/data</topicName>
            <frameName>imu_link</frameName>
            <bodyName>imu_link</bodyName>
        </plugin>
    </gazebo>
</robot>